html, body {
  height: 100%;
  margin: 0;
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  color: black;
}

#map {
  width: 400px;
  height: 400px;
}

#map_canvas {
  width: 400px;
  height: 400px;
}

div.background {
  color: black;
}

div.transbox {
  background-color: #e3f2fd;
  border: 1px solid black;
  opacity: 0.9;
}

footer {
  POINTER-EVENTS: NONE;
}
