<% include ./partials/header.ejs %>

<!-- script -->
<script src="js/app.js"></script>

<!-- Image Background Page Header -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Welcome</h1>
                </div>
            </div>
        </div>
    </header>

<% include ./partials/footer.ejs %>
