<% include ./partials/header.ejs %>

<h2>This page can only be accessed by authenticated users</h2>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVi8jjHdsBlfLNDwGWgGjAzu2rJlnMFTs"></script>
<script src="js/map.js"></script>
  <h1>Mappy of BB</h1>
  <div id="map"></div>





<% include ./partials/footer.ejs %>
