<% include ./partials/header.ejs %>

<h1> Welcome <%= currentUser.local.email %> </h1>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVi8jjHdsBlfLNDwGWgGjAzu2rJlnMFTs"></script>
<script src="js/map.js"></script>
  <h1>Mappy of BB</h1>
  <div id="map"></div>


  <input type="button" id="addStadium" value="addStadium" />



<% include ./partials/footer.ejs %>
